<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title> Mobile Price Prediction </title>
    </head>

    <body>
        <!-- Bagian Navbar -->
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand fw-bold" href="#"> Mobile Price Preciction </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Navbar Menu </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/"> Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"> About </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Bagian Body -->
        <div class="container mt-3">
            
            <!-- Header Body About -->
            <h3 class="fw-bold"> Final Project Pembelajaran Mesin IF20C </h3>
            <h4> Mobile Price Prediction App </h4>

            <!-- Content Body About -->
            <table class="table table-bordered table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> NIM </th>
                        <th scope="col"> Nama </th>
                        <th scope="col"> Kontribusi </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td> 20SA1104 </td>
                        <td> Imam Muaziz </td>
                        <td> Team AI </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> 20SA1111 </td>
                        <td> Muhammad Daffa Izzulhaq S </td>
                        <td> Team Deployment </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td> 20SA1232 </td>
                        <td> Ismi Suryaningsih </td>
                        <td> Team AI </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td> 20SA1271 </td>
                        <td> Dhiya Arwa Fadhila </td>
                        <td> Team Deployment </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

     <!-- footer -->
    <footer class="fixed-bottom">
        <div class="card-footer bg-transparent" style="color: rgb(0, 0, 0)">
            <div class="container text-center" styles="margin-top: 20px; margin-bottom: 0;">
                <p><b>&copy; 2022 - Machine Learning IF20C </b></p>
            </div>
    </footer>

    </body>
    
</html>