<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <title> Mobile Price Prediction - Home </title>
</head>

<body>
    <!-- Bagian Navbar -->
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <span class="navbar-brand fw-bold" href="#"> Mobile Price Prediction </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Navbar Menu </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="./main.html"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Coba Commit </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Bagian Body -->
    <div class="container mt-5">
        <main class="px-3">
            <h1 class="text-center">Cover your page.</h1>
            <p class="lead text-center">Prediksikan Harga HP Impian Kamu Dengan Website Terpercaya dari Kami</p>
            <div class="d-flex my-5 justify-content-center col-3 mx-auto">
                <a href="/predict" class="btn btn-primary" type="button">Start</a>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

     <!-- footer -->
	<footer class="fixed-bottom">
        <div class="card-footer bg-transparent" style="color: rgb(0, 0, 0)">
		<div class="container text-center" styles="margin-top: 20px; margin-bottom: 0;">
			<p><b>&copy; 2022 - Machine Learning IF20C </b></p>
		</div>
	</footer>

</body>

</html>