<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <title> Mobile Price Prediction - Home </title>
</head>
<body>
    <!-- Bagian Navbar -->
    <nav class="navbar bg-light">
        <div class="container-fluid ">
            <span class="navbar-brand fw-bold" href="#"> Mobile Price Prediction </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Navbar Menu </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"> About </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-3 mb-3">
        <main class="px-3">
            <form action="" class="">

                <div class="row mb-3 justify-content-center">
                    <label for="battery_power" class="col-sm-2 col-form-label"> Battery Power </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control " id="battery_power" name="battery_power" required>
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center">
                    <label for="bluetooth" class="col-sm-2 col-form-label"> Bluetooth </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="bluetooth" name="bluetooth" required>
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center">
                    <label for="clock_speed" class="col-sm-2 col-form-label"> Clock Speed </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="clock_speed" name="clock_speed" required>
                    </div>
                  </div>
                
                  <div class="row mb-3 justify-content-center">
                    <label for="dual_sim" class="col-sm-2 col-form-label"> Dual SIM </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="dual_sim" name="dual_sim" required>
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center">
                    <label for="px_height" class="col-sm-2 col-form-label"> PX Height </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="px_height" name="px_height" required>
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center">
                    <label for="px_width" class="col-sm-2 col-form-label"> PX Width </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="px_width" name="px_width" required>
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center">
                    <label for="ram" class="col-sm-2 col-form-label"> RAM </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="ram" name="ram" required>
                    </div>
                  </div>

                  <div class="row mb-3 justify-content-center">
                    <label for="price_range" class="col-sm-2 col-form-label"> Price Range </label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="price_range" name="price_range" required>
                    </div>
                  </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center my-5">
                <button type="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
                <input class="btn btn-primary btn-lg" type="reset" value="Reset">
            </div>
            </form>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hasil Prediksi</h5>
            <!--tanda silang-->
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            {% if prediction_text == 'Harga Diprediksi Naik ' %}
            <div class="alert alert-danger">
              <h1>{{ prediction_text }}</h1>
              <hr class="my-1">
            </div>
            {% else %}
            <div class="alert alert-success">
              <h1>{{ prediction_text }}</h1>
              <hr class="my-1">
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

     <!-- footer -->
	<footer class="fixed-bottom">
        <div class="card-footer bg-transparent" style="color: rgb(0, 0, 0)">
		<div class="container text-center" styles="margin-top: 20px; margin-bottom: 0;">
			<p><b>&copy; 2022 - Machine Learning IF20C </b></p>
		</div>
	</footer>

</body>
</html>